<h1>Edit Wiki</h1>

<div class="row">
  <div class="col-md-8">
    <%= render partial: 'form', locals: {wiki: @wiki} %>
    <% if current_user.has_role?(:premium) || current_user.has_role?(:admin) %>
    <%= render partial: "dropdown" %>
    <h4>Collaborators</h4>
    <div>
      <% @wiki.collaborators.each do |collaborator| %>
      <h5><strong><%= collaborator.user.email %></strong>, <%= collaborator.user.email %> <%= link_to "", [collaborator], method: :delete, class: 'glyphicon glyphicon-remove', data: {confirm: "Are you sure you want to remove collaborator?"} %></h5>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
